@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    src: local('Futura'), url('fonts/Futura.ttf') format('tff');
    }


@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('fonts/Acumin-RPro.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Acumin Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Italic'), url('fonts/Acumin-ItPro.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Acumin Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold'), url('fonts/Acumin-BdPro.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Acumin Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro Bold Italic'), url('fonts/Acumin-BdItPro.woff') format('woff');
    }

    body{
        line-height: 1.2em;
        margin: 0 auto;
        width: 60%;
        background: rgb(137,131,228);
        background: linear-gradient(6deg, rgba(137,131,228,1) 0%, rgba(215,214,105,1) 35%, rgba(175,233,255,1) 100%);
    }

    section{
        width:70%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 6px;
        background-color: #ffffff5a;
    }

    .content{
        width:100%;
        margin: 0 auto;
        padding: 10px;
    }

    img{
        width:100%;
    }

    hr{
        background-color: black;
        border-color: black;
    }

    h1 {
        font-family: 'Acumin Pro Bold', sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 0 auto;
        text-align: left;
        color: #161032;
    }

    h2 {
        font-family: 'Acumin Pro Bold', sans-serif;
        text-transform: capitalize;
        font-size: 1em;
    }

    h3{
        font-family: 'Futura', sans-serif;
        padding: 2px;
        font-size: 1em;
        font-weight: 200;
        font-style: italic;
        text-decoration: underline;
        margin: 0 auto;
    }

    h5, h6 {
        font-weight: 300;
        font-family: 'Futura', sans-serif;
    }

    h5{
        font-size: 0.95em;
    }

    h6{
        font-size: 0.85em;
    }

    p{
        font-size: 0.75em;
        font-family: 'Futura', sans-serif;
        font-style: italic;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        height: 50px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-padding: 2px;
        scrollbar-width: 2px;
        color: #28125c;
        font-family: 'Futura', sans-serif;
        text-align: left;
        font-weight: bold;
        font-size: 0.7em;
        padding: 5px;
        border-radius: 6px;
        position: relative;
        z-index: 1;
    }

    .tooltip .notify {
        visibility: visible;
        background-color: #967bfa9e;
        color: black;
        margin: 0 auto;
        font-family: 'Futura',  sans-serif;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
        border-radius: 6px;
        z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip:hover .notify {
        visibility: hidden;
    }

    @media only screen and (max-width: 480px) {
        body{
            width: 90%;
        }

        section{

            width:90%;
        }
    }